.jumbotron {
    background-color: #fff;
}

/*.container {
    background-color: #ffff55; /*FIX change this back to #fff; once visually things are good
}*/

.col {
    margin: 10px;

}

.col img {
    position: relative;
    width:  auto;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.top-buffer {
    margin-top: 300px;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}